body {
    margin: 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.header, .search , .output {
    text-align: center;
}

.output {
    display: flex;
}

.output > div {
    border: 1px solid black;
}

.picture, .music, .anime {
    flex: 1 1 0;
}